.main {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows: 1fr 5fr;
    gap: 3rem;
    padding: 2rem 2rem;
    background-color: #FEFDFB;
    grid-template-areas: 
    "course course course course"
    "column column column column";
   
}
.course {
    grid-area: course;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
 
}
.progress {
    display: flex;
    flex-direction: row;
    gap: 0.5rem 3rem;
}
.card {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    background-color: #ECFBFF;
    border-radius: 1rem;
}
.info {
    gap: 0.5rem;
    display: grid;
   
}
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column {
    grid-area: column;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}