.mentors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-area: mentors;
    justify-content: space-between;
    border-radius: 1rem;
    gap: 2rem;
}
.bottomRight {
    background-color: #E6F5FA;
    display: grid;
    grid-column: span 3;
    border-radius: 1rem;
    padding: 1rem 1rem;
    gap: 1rem;
}
.bottomLeft {
    background-color:#EEFCEF;
    display: grid;
    border-radius: 1rem;
    gap: 1rem;
    padding: 1rem 1rem;
    align-items: center;
}
.tableRight {
    background-color: #ffffff;
    display: flex;
    border-radius: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.tableLeft {
    background-color: #ffffff;
    display: flex;
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1rem;
}
.top {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    align-items: center;
}
.popular {
    padding: 1rem 1rem;
}
.title {
   display: flex;
   flex-direction: column;
   gap: 0.3rem;
}
.button {
    display: inline-block;
    padding: 0.7rem 2rem;
    background-color: #f3c861;
    color: black;
    line-height: 0.2rem;
    text-decoration: none;
    border-radius: 0.5rem;
    border: 0.1rem solid #f3c861;
}
.button:hover {
    background-color: #FFF3D9;
    color:black;
}


