.bottom {
    background-color:green;
    /* display: grid;
    grid-template-columns:  repeat(4, 1fr);
    gap: 3rem;
    padding: 2rem 2rem;
    grid-template-areas: 
    'bottomLeft bottomRight bottomRight bottomRight'; */
}
.mentors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 2rem 2rem;
    grid-area: mentors;
    border-radius: 1rem;
}

.tableRight {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem 3rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
  
}

.tableLeft {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.3rem 3rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
   
}
.bottomLeft {
    background-color: red;
    gap: 0.5rem 0.5rem;
    /* grid-area: mentors; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 1rem;
  
}

.bottomRight {
    background-color: brown;
    gap: 0.5rem 0.5rem;
    /* grid-area: mentors; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 1rem;
}
.top {
    grid-area: mentors;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem 10rem;
}

.button {
    display: inline-block;
    padding: 0.6rem 1rem;
    background-color: #F8B310;
    color: black;
    line-height: 0.2rem;
    text-decoration: none;
    border-radius: 0.5rem;
    border: 0.1rem solid #F8B310;
    user-select: none;
}
.button:hover {
    background-color: #fff;
    color:black;
}


